.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

    background-color: hsla(0, 0%, 0%, 0.85);
}

.left-side h2 {
    font-size: 2.6rem;
    margin-bottom: 55px;
    text-align: center;
}

.form-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;

    position: relative;
    z-index: 5;    
}

.form-container {
    padding: 40px 50px;
    border-radius: 15px;
    background: linear-gradient(0.57turn, #050C1B, #000716, #1E2B4A);
    text-align: center;
}

.form-container h3 {
    font-size: 1.7rem;
    margin-bottom: 35px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;

    color: white;

    border: 1px solid transparent;
    border-radius: 7px;
    background-image: linear-gradient(#00123A, #000716), linear-gradient(-80deg,  #FFFFFF, #3A5EFF);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    outline: none;

    font-size: 18px;
}

.form-container button{
    width: 145px;
    height: 45px;

    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.75);

    font-size: 18px;
}

/* ---------------Decoration----------------- */

.under-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;
    width: 650px;
    height: 750px;
    background-color: rgba(155, 155, 155, 0.3);
    border-radius: 50%;
    
    filter: blur(100px);
}