.right-side {
    width: 50%;
    display: flex;
    align-items: center;

    background-color: hsla(0, 0%, 0%, 0.40);
}

.info-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.info-section h1 {
    font-size: 5vw;
    font-weight: 800;
    font-family: Source Serif Pro;
    margin-bottom: 15px;
    letter-spacing: 2vw;
    line-height: 6vw;
    text-align: center;
}

.address {
    font-size: 1.2rem;
    font-weight: 700;

    text-align: center;
    line-height: 2rem
}


.info-box {
    font-size: 1rem;
    margin-top: 35px;
    display: flex;
    background: linear-gradient(215deg, #050C1B, #000716, #1E2B4A);
    border-radius: 15px;
    opacity: 0.9;
}

.info-column {
    padding: 45px 10px 45px 25px;
    flex: 1;
}

.left-column {
    border-right: 2px solid rgba(255, 255, 255, 0.7);
}

.info-item {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 0 20px 0;
    line-height: 1.5;
}

.info-item:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 900px) {
    .right-side {
        position: relative;
        width: auto;
        padding: 50px 0;
    }
}